// {
//   "presets": [
//     "react"
//   ]
// }
{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 versions", "safari >= 7"],
         "node": "current",// "node": "current"
         "uglify":true,
         "debug":true
      }
    }]
  ]
}


