<!DOCTYPE html>
<html lang="en" class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="<%= htmlWebpackPlugin.options.viewport %>">
    <meta name="screen-orientation" content="portrait">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="description" content="Free HTML5 Website Template by gettemplates.co" />
    <meta name="keywords" content="防伪 追溯 促销 防窜货" />
    <meta name="author" content="https://github.com/xulayen" />
    <script type="text/javascript" src="<%= htmlWebpackPlugin.options.CDN %>static/js/layer_mobile/layer.js"></script> 
    <style type="text/css">
       
    </style>
</head>
<body>

</body>
</html>